@page "/demo4"
@using BlazorWASMDemo.Models
@using BlazorWASMDemo.Services
<h3>Demo4</h3>

@*<ul>
@foreach(Jeu g in MyList) {
   <li>@g.Name</li>
}
</ul>*@

<div style="height: 350px; overflow-y: scroll;">
    <ul>
        <Virtualize Items="MyList" Context="g">
            <li>@g.Name</li>
        </Virtualize>
    </ul>
</div>
<p>Valeur de Value : @Value</p>
@code {

    [Inject]
    private GameService _gs{ get; set; }
    [Inject]
    public IJSRuntime js{ get; set; }

    public List<Jeu> MyList { get; set; }

    public string Value { get; set; }

    protected override void OnInitialized()
    {
        
        for(int i = 0; i < 200; i++){
            _gs.Add(
                new Jeu {
                    Id = i, Name = "Jeu "+i
                }
            );
        }
        MyList = _gs.GetAll();
    }

    protected override async Task OnInitializedAsync()
    {
        Value = await js.InvokeAsync<string>("localStorage.getItem", "clé");
    }
}
